

.table_exp {
	width: 49%;
	display: inline-block;
}

img {
	display: inline-block;
	width: 49%;
}

.div_inside {
	vertical-align: middle;
}

/*.div_img_inside {
	width: 45%;
	height: 200px;
	background: url("img/backgroundtest.png") no-repeat center;
	background-size: cover;
}*/