#previous-post, #next-post {
	font-style: italic;
}

.blog-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#previous-post::before {
	content: '←';
}

#next-post::after {
	content: '→';
}
