#profile-picture {
  max-width: 90%;
  width: 200px;
  border-radius: 5%;
  margin: 3rem 0 -1.5rem 0;
}

.headline {
  text-align: center;
  line-height: 1.5;
}

main {
  line-height: 1;
}

/*blockquote {
  text-align: center;
  font-style: italic;
  font-size: large;
}*/

blockquote {
  font-weight: 100;
  font-size: 1.5rem;
  max-width: 500px;
  line-height: 1.4;
  position: relative;
  margin: 2rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #2875BB; /*#f1efe6;*/
  font-size: 12rem;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  font-family: sans-serif;
}

blockquote:before {
  content: '“';
  left: -3rem;
  top: -5.5rem;
}

blockquote:after {
  content: '”';
  right: -3rem;
  bottom: 0.8rem;
}

cite {
  line-height: 3;
  text-align: left;
}