.headline {
  text-align: center;
}

main {
  line-height: 1;
}

/*blockquote {
  text-align: center;
  font-style: italic;
  font-size: large;
}*/

blockquote {
  font-weight: 100;
  font-size: 1.5rem;
  max-width: 500px;
  line-height: 1.4;
  position: relative;
  padding: .5rem;
  margin: 2rem;
  margin-top: 4rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #2875BB; /*#f1efe6;*/
  font-size: 12rem;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  font-family: sans-serif;
}

blockquote:before {
  content: '“';
  left: -2.5rem;
  top: -5rem;
}

blockquote:after {
  content: '”';
  right: -1rem;
  bottom: 1rem;
}

cite {
  line-height: 3;
  text-align: left;
}