.cover-container {
	position: relative;
	margin-bottom: 1.5em;
}

.cover-text {
	font-weight: lighter;
	font-size: larger;
}

.contact-container {
	margin: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.contact {
	background-color: var(--secondary-background-color);
	padding: 1em 1em;
	flex-basis: 100%;
	text-align: center;
	clip-path: polygon(98.82% 3.2%, 99.92% 97.97%, 0.29% 99.61%, 1.9% 0.82%);
}

.contact > a {
	background-color: var(--background-color);
	padding: 0.75em 1.5em;
	margin: 0.5em;
	display: inline-block;
	position: relative;
	transition-property: color;
	transition-duration: 0.2s;
	z-index: 0;
}

.contact > a:hover,
.contact > a:focus,
.contact > a:active {
	color: white;
}

.contact > a::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--highlight-color);
	transform: scaleY(0);
	transform-origin: 0 100%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.contact > a:hover::before,
.contact > a:focus::before,
.contact > a:active::before {
	transform: scaleY(1);
}

.project {
	position: relative;
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project:last-child {
	border-bottom: 0;
}

.player img {
	/*filter: blur(3px);*/
	transition-property: opacity;
	transition-duration: 1s;
	opacity: 1.0;
	/*width: auto;
	max-width: 100%;
	height: 100%;*/
}

.player.resource-loaded img {
	opacity: 0.0;
}

.player.resource-loaded::before {
	opacity: 0.0;
}

.player.resource-loaded .video {
	opacity: 1.0;
	z-index: 1;
}

.player p {
	position: absolute;
	bottom: 8%;
	margin: 0 10%;
	width: 80%;
	text-align: center;
}

.player {
	position: relative;
	cursor: pointer;
	/*height: 30vh;*/
}

@media screen and (max-width: 48em) {
	.project {
		gap: 0;
	}

	.player img {
		width: 100%;
		height: auto;
	}

	.player {
		height: auto;
	}
}

.player.resource-loaded {
	cursor: auto;
}

.img-hover-zoom {
	overflow: hidden;
	/*background-color: #2875BB;*/
}

.img-hover-zoom img {
	transition: transform .5s, filter .5s, mix-blend-mode .5s ease;
	filter: grayscale(100%);
	/*mix-blend-mode: hard-light;*/
}

.img-hover-zoom:hover img {
	filter: grayscale(0%);
	transform: scale(1.05);
	/*mix-blend-mode: unset;*/
}

.player::before {
	content: " ";
	opacity: 1.0;
	position: absolute;
	z-index: 1;
	border-top: 1.5rem transparent solid;
	border-bottom: 1.5rem transparent solid;
	border-left: 2.5rem rgba(255, 255, 255, 0.87) solid;
	width: 0;
	height: 0;
	top: calc(50%);
	left: calc(50%);
	margin-top: -1.5rem;
	margin-left: -1rem;
	text-align: center;
	transition-property: opacity;
	transition-duration: 1s;
}

@keyframes rotate {
    10%  {
    	-webkit-transform: rotate(0deg); 
    	transform: rotate(0deg); 
   	}
    20%  {
    	-webkit-transform: rotate(180deg); 
    	transform: rotate(180deg); 
   	}
    60%  {
    	-webkit-transform: rotate(180deg); 
    	transform: rotate(180deg); 
   	}
    70%  {
    	-webkit-transform: rotate(360deg); 
    	transform: rotate(360deg); 
   	}
    100%  {
    	-webkit-transform: rotate(360deg); 
    	transform: rotate(360deg); 
   	}
}

.resource-loading.player::before {
	content: "⋯";
	border: none;
	width: initial;
	height: initial;
	font-size: 300%;
	color: white;
	margin-top: -0.8em;
	margin-left: -0.5em;
	animation-name: rotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.video {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 1s;
}

.project-description {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.project-info {
	position: absolute;
	bottom: 0px;
}

div.project-info {
	left: 0;
}

time.project-info {
	right: 0;
}


.header {
	opacity: 0.7;
	z-index: 1;
	position: relative;
}

.header:hover {
	opacity: 1;
}

#media-cover {
	min-width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#media-cover iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #media-cover iframe { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  #media-cover iframe { width: 300%; left: -100%; }
}

.projects {
	margin-top: 100vh;
}

.center {
	text-align: center;
}

.skills {
	margin: 3em 0;
}

.skills img {
	width: 50%;
}

.skill {
	padding: 0.5em;
}

@media screen and (min-width: 48em) {

	.cover-text-container {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.cover-text {
		max-width: 50%;
		padding: 1em;
	}

	.cover-shade {
		width: 50%;
		height: 100%;
		background-color: var(--background-color); 
		opacity: 0.8;
		position: absolute;
		top: 0;
	}

	.contact {
		flex-basis: 70%;
		padding: 1.5em 3em 2em 3em;
	}
}