.cover-container {
	position: relative;
	margin-bottom: 1.5em;
}

.cover-text {
	font-weight: lighter;
	font-size: larger;
}

.contact-container {
	margin: 3em 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.contact {
	background-color: var(--secondary-background-color);
	padding: 1em 1em;
	flex-basis: 100%;
	text-align: center;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

.contact > a {
	background-color: var(--background-color);
	padding: 0.75em 1.5em;
	margin: 0.5em;
	display: inline-block;
	position: relative;
	transition-property: color;
	transition-duration: 0.2s;
	z-index: 0;
}

.contact > a:hover,
.contact > a:focus,
.contact > a:active {
	color: white;
}

.contact > a::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--highlight-color);
	transform: scaleY(0);
	transform-origin: 0 100%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.contact > a:hover::before,
.contact > a:focus::before,
.contact > a:active::before {
	transform: scaleY(1);
}

.project {
	border-bottom: 2px solid var(--highlight-color);
	margin-top: 2em;
	padding-bottom: 2em;
}

.project:last-child {
	border-bottom: 0;
}

.player img {
	filter: blur(3px);
	transition-property: opacity;
	transition-duration: 1s;
	opacity: 1.0;
}

.player.resource-loaded img {
	opacity: 0.0;
}

.player.resource-loaded::before {
	opacity: 0.0;
}

.player.resource-loaded .video {
	opacity: 1.0;
	z-index: 1;
}

.player {
	position: relative;
	margin-right: 1rem;
}

.player::before {
	content: " ";
	opacity: 1.0;
	position: absolute;
	z-index: 1;
	border-top: 3rem transparent solid;
	border-bottom: 3rem transparent solid;
	border-left: 5rem var(--color) solid;
	width: 0;
	height: 0;
	top: calc(50%);
	left: calc(50%);
	margin-top: -3rem;
	margin-left: -2rem;
/*	font-size: 6rem;
	height: 6rem;
	width: 6rem;
	line-height: 6rem;*/
	text-align: center;
	transition-property: opacity;
	transition-duration: 1s;
}

.video {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 1s;
}

.project-description {
	position: relative;
	padding-bottom: 2rem;
}

.project-info {
	position: absolute;
	bottom: 0px;
}

div.project-info {
	left: 0;
}

time.project-info {
	right: 0;
}

@media screen and (min-width: 48em) {

	.cover-text-container {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.cover-text {
		max-width: 50%;
		padding: 1em;
	}

	.cover-shade {
		width: 50%;
		height: 100%;
		background-color: var(--background-color); 
		opacity: 0.8;
		position: absolute;
		top: 0;
	}

	.contact {
		flex-basis: 70%;
		padding: 1.5em 3em 2em 3em;
	}
}